spring:
  profiles:
    active: ${PROFILE_ACTIVE:default}
  application:
    name: transfer-manager
  cloud:
    config:
      fail-fast: true
    stream:
      bindings:
        toProcessTransfer-out-0:
          destination: payflow-exchange
          content-type: application/json
      rabbit:
        bindings:
          toProcessTransfer-out-0:
            producer:
              transactional: true
              routing-key-expression: headers.walletRoutingKey

logging:
  level:
    com.lucasmoraist: ${LOG_LEVEL:DEBUG}

secrets:
  url:
    wallet-core: ${WALLET_CORE_URL:http://localhost:8080}