spring:
  profiles:
    active: ${PROFILE_ACTIVE:default}
  application:
    name: transfer-manager
  cloud:
    config:
      fail-fast: true
    stream:
      bindings:
        toProcessTransfer-out-0:
          destination: payflow-exchange
          content-type: application/json
        fromWalletProcessed-in-0:
          destination: payflow-exchange
          group: ${spring.application.name}
          content-type: application/json
          consumer:
            concurrency: 5
            max-attempts: 3
            back-off-initial-interval: 300
            back-off-multiplier: 2.0
      rabbit:
        bindings:
          toProcessTransfer-out-0:
            producer:
              transactional: true
              routing-key-expression: headers.walletRoutingKey
          fromWalletProcessed-in-0:
            consumer:
              binding-routing-key: "transfer.success,transfer.failed"
              binding-routing-key-delimiter: ","
              auto-bind-dlq: false
              republish-to-dlq: false
              transactional: true

logging:
  level:
    com.lucasmoraist: ${LOG_LEVEL:DEBUG}

secrets:
  url:
    wallet-core: ${WALLET_CORE_URL:http://localhost:8080}