server:
  port: 8083
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
  mongodb:
    uri: mongodb://root:example@localhost:27017/transfer_manager_db?authSource=admin